
#para2{
    text-indent: 20px;
    text-align: justify;
    color: magenta;
}

.p1{
    box-shadow: 3px 3px 3px 3px #ccc;
}

img[class="rounded"]{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: 20px;
}

span{
    color: red;
    font-weight: bold;
}