h2{
    color: rgb(61, 1, 224);
    background-color: magenta;
    text-align: center;
}

p{
    color: blue;
    background-color: yellow;
    text-align: center;
}

img{
    width: 300px;
    height: 300px;
    margin: 10px 10px;
}